KERNEL_ARCH_CFLAGS:=-ffreestanding -fno-builtin
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARC_LIBS:=
 
KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/isrs.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/malloc.o \
$(ARCHDIR)/shell.o \
$(ARCHDIR)/system.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/pci.o \
$(ARCHDIR)/time.o \
